:root {
  --main-bg-color: #008d7a;
  --white-bg-color: #fff;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none;
}

body {
  background-color: var(--main-bg-color);
}

input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: var(--white-bg-color);
}

input:focus {
  outline-width: 0;
}

input::-webkit-input-placeholder {
  color: var(--white-bg-color);
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
